
body{  
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-image: url(http://localhost:8080/ShoppingCart/image/register_background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.login-box{
    width: 280px;
    position: absolute;
    top: 30%;
    left:20%;
    transform: translate(-50%,-50%);
    color: white;
}

.login-box h1{
    float: left;
    border-bottom: 6px solid #4caf50;
    margin-bottom: 50px;
    padding: 13px 0;
}

.textbox{
    width: 80%;
    overflow: hidden;
    padding: 8px 0;
    margin: 8px 0;
    border-bottom: 1px solid #4caf50;
}

.textbox input{
    border: none;
    outline: none;
    background: none;
    color: white;
    width: 80%;
    float: left;
    margin: 0 10px;
}

.btn{
    width: 50%;
    background: none;
    border: 2px solid #4caf50;
    color: white;
    padding: 5px;
    cursor: pointer;
    margin-top: 10px;
    margin-left: 3px;
}


