<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>LoginFilter</filter-name>
        <filter-class>com.LoginFilter</filter-class>
    </filter>
    <filter>
        <filter-name>CodeFilter</filter-name>
        <filter-class>com.CodeFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>CodeFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>LoginFilter</filter-name>
        <url-pattern>/ShoppingCart.jsp</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>LoginFilter</filter-name>
        <url-pattern>/Shopping.jsp</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>com.Login_try</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Register</servlet-name>
        <servlet-class>com.Register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>dbJavaBean</servlet-name>
        <servlet-class>com.DBean</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GoodsBean</servlet-name>
        <servlet-class>com.GoodsBean</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/Register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>dbJavaBean</servlet-name>
        <url-pattern>/dbJavaBean</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GoodsBean</servlet-name>
        <url-pattern>/GoodsBean</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
